/Empty_Button.png
/Empty_Button_Glowing.png
/logo.png
/penguin.png
/sfondo.png
/bomba_gialla.png
/bomba_rossa.png
/destructible_block.png
/indestructible_block.png
/loser_gif.gif
/sheet.png
/winner_gif.gif
/Explosion_sheet_red.png
/Explosion_sheet_yellow.png