/Empty_Button.png
/Empty_Button_Glowing.png
/logo.png
/penguin.png
/sfondo.png
/bomba_gialla.png
/bomba_rossa.png
/destructible_block.PNG
/indestructible_block.PNG
/loser_gif.gif
/sheet.png
/winner_gif.gif