/Empty_Button.png
/Empty_Button_Glowing.png
/Snaps Taste Christmas.otf
/bomba_gialla.png
/bomba_rossa.png
/destructible_block.png
/draw.gif
/explosion_sheet.png
/how_to_play.jpg
/indestructible_block.png
/initial_penguin.png
/logo.png
/loser.gif
/penguin.png
/sfondo.png
/sfondo_finestre.jpg
/sfondo_iniziale.jpg
/sheet.png
/snow_falling3.gif
/winner.gif

